/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
} */


#logo {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  padding: 0;
  cursor: pointer;
  height: 60px;
}
#logo:focus {
  outline: 0;
}

header {
  padding: 0;
  margin-top: 0;
  height: 60px;
}

#navbar {
  overflow: hidden;
  background-color: #595959;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
