/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@font-face {
  font-family: din;
  src: url(/assets/fonts/DIN-light) format("opentype");
}
@font-face {
  font-family: dinb;
  src: url(/assets/fonts/DIN-bold) format("opentype");
}
h1 {
  font-family: "din";
  font-size: 5em;
}
body {
  height: 100%;
}
.center-content{
  text-align: center;
}
.center-self {
  margin: auto;
}

/* backgrounds */
.background-color-primary {
  background-color: #6FAD02;
}
.background-color-secondary {
  background-color: #8BD300;
}
.background-color-tertiary {
  background-color: #C4F206;
}
.background-color-accent {
  background-color: #595959;
}

/* buttons */
.TLbtn {
  color: white;
  font-family: "din";
  font-size: 1em;
  height: fit-content;
  width: fit-content;
  text-align: center;
  border-radius: 0;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
}
.TLbtn:focus {
  outline: 0;
}
.TLbtn:hover {
  cursor: pointer;
}
.btn-small {
  height: 40px;
}
.btn-medium {
  height: 60px;
}
.btn-large {
  height: 80px;
}
.btn-color-primary {
  background-color: #ED5603;
}
.btn-color-secondary {
  background-color: #F47A00;
}

/* input fields */
input {
  height: 60px;
  color: #b0b0b0;
  font-family: "din";
  background-color: #f2f2f2;
  border: 0;
  padding-left: 20px;

  transition-duration: 0.3s;
  transition-property: background-color, border, color;
}
input:focus, input:active, input:hover {
  outline: 0;
  background-color: #fff;
  border: #ED5603 solid 2px;
  color: #595959;
}
input:not(:placeholder-shown) {
  color: #595959;
}