<body>
    <div class="foreground">
        <h3 class="message">Er is een onverwachte fout opgetreden.</h3>
        <div>
            <img class="image" src="../../../assets/images/truelime-treecut.png" />
        </div>
        <div>
            <button mat-button [class.mat-elevation-z5]="true" routerLink="/"
                class="TLbtn btn-large background-color-accent btn-back">OK</button>
        </div>
    </div>
    <div>
        <button [class.mat-elevation-z5]="true" class="TLbtn btn-large background-color-accent btn-back" mat-button
                routerLink="/">OK
        </button>
    </div>
</body>
