<div mat-dialog-content class="font">
    <mat-form-field class="full-width">
        <input matInput placeholder="{{dict.FILL_IN_NAME_FORM}}" [(ngModel)]="data.name"
        [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
            {{dict.FAULTY_NAME_ERROR}}
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')" [innerHTML]="dict.REQUIRES_NAME_ERROR"></mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <textarea matInput placeholder="{{dict.FILL_IN_DESC_FORM}}" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-action class="font">
    <button mat-button (click)="onNoClick()" class="font">Terug</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="font" id=""
        [disabled]="nameFormControl.hasError('name') || nameFormControl.hasError('required')">Aanmaken</button>
</div>
