<div class="center-content">
    <button class="TLbtn btn-small btn-color-primary">klein primary</button>
    <button class="TLbtn btn-small btn-color-secondary">klein secondary</button>
    <button class="TLbtn btn-medium btn-color-primary">normaal primary</button>
    <button class="TLbtn btn-medium btn-color-secondary">normaal secondary</button>
    <button class="TLbtn btn-large btn-color-primary">groot primary</button>
    <button class="TLbtn btn-large btn-color-secondary">groot secondary</button>
    <br>
    <input placeholder="Name">
</div>