.example-container {
  width: 275px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(230, 243, 232, 0.6);
  box-shadow: 1px 1px 0 #595959;
  padding: 8px;
  border-radius: 4px;
  overflow: initial !important;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: initial;
  display: block;
}

.title-background-left {
  padding-top: 10px;
  background-color: #595959;
  position: fixed;
  width: fit-content;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 1px 1px 0 #3d3d3d;
}
.title-background-right {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #595959;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  float: right;
  box-shadow: 1px 1px 0 #3d3d3d;
}

.title-icons-background {
  padding-top: 10px;
  background-color: #595959;
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-right: -95%;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  /*display: flex;*/
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: grab;
  background: white;
  font-size: 14px;
  clear: both;
  display: block;
  height: fit-content;
  word-wrap: break-word;
  white-space: initial;
  border-radius: 3px;
  position: relative;
}
.example-box:hover > div > img {
  opacity: 100;
}
.example-box:hover #expandable {
  height: 16px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* .foreground {
  background-color: rgb(214, 215, 216);
  height: calc(100vh - 60px);
} */
.scrollable {
  height: calc(100vh - 60px);
  overflow: auto;
}

body {
  background-image: url('../../../assets/images/achtergrond.png');
  background-position: center;
  /*background-repeat: no-repeat;*/
  /* -60px for header */
  height: calc(100vh - 60px);
  font-family: din;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.board_area {
  margin-top: 100px; /*Leave room for the title and description*/
  white-space: nowrap;
  z-index: 4;
  margin-left: 10px;
}

.board-top-content-clean {
  padding-top: 4%;
  flex-direction: row;
}
.column-title-holder {
  padding-left: 13px;
}
.column-title {
  width: 85%;
  color: #ED5603;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2 {
  /*color: purple;*/
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ED5603;
}
h1 {
  color: #ffffff;
  font-size: 5vh;
  margin-left: 17px;
  max-width: 75vw;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h1:hover {
  cursor: pointer;
}
h4 {
  font-size: 20px;
  color: #ED5603;
}
h6 {
  font-size: 16px;
  color: #ED5603;
  cursor: pointer;
}

.inputfield {
  width: 100% !important;
}
.example-container-toaddcard {
  width: 275px;
  max-width: 100%;
  margin: 8px 0 0 0;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(255, 255, 255); /*Color adjustment to pure white*/
  padding: 8px;
  font-size: 12px;
  border-radius: 3px; /*radius of 3 pixels*/


  transition-duration: 0.2s;
  transition-property: color;
}
.example-container-toaddcard:hover {
  color: limegreen;
}

.TLbtn{
  padding-left: 10px;
  padding-right: 10px;
}

.example-container-toadd {
  width: 275px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(248, 255, 249, 0.4);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 0 #595959;

  transition-duration: 0.2s;
  transition-property: background-color;
}

.clickable_element {
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 6px;
  padding-left: 2px;
  margin-bottom: 0;
}
.clickable_element:hover {
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
}

.description {
  color: #ffffff;
  margin-left: 3%;
}

.locked {
  position: fixed;
  width: 100%;

  z-index: 2;
}

.animated-item {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.editContentInput {
  box-sizing: border-box;
  width: 180px;
}

/*icons*/
.icons {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}
.smiley-icons {
  height: 0px;
  margin-top: 4px;
  transition: height 0.2s;
}
.box-content {
  padding-right: 65px;
}
.icon {
  height: 24px;
  transition-duration: 0.4s;
  opacity: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.icon:hover {
  cursor: pointer;
  /* transform: scale(1.1,1.1) */
}
.icon:active {
  transform: scale(0.8,0.8)
}
.icon_menu {
  float: right;
  margin-top: 5px;
}
#icon_menu {
  opacity: 100;
}
#icon_edit {
  height: 30px;
}
#icon_delete {
  height: 30px;
}
#icon_wipe {
  opacity: 100;
  height: 50px;
  margin-left: 20px;
}
.dropdownitem:focus {
  outline: 0;
}

.inputfield {
  width: 200px;
}

ng-valid.ng-touched {
  border: 5px solid #42a948;
  background-color: rgba(104, 255, 95, 0.6);
}

ng-invalid.ng-touched {
  border: 5px solid red;
  background-color: rgba(255, 84, 60, 0.6);
}

.btn-margin-left {
  float: right;
}
.votecount {
  position: absolute;
  right: 20px;
  margin-top: -5px;
}
.vote-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
}
.vote-up {
  color: #83e278;
}
.vote-down {
  color: #ff8080;
}