<body *ngIf="retrospective">
<div class="foreground">
  <div class="scrollable">
    <div class="locked">
      <br>
      <h1>{{retrospective.title}}</h1>
      <br>
      <h3 class="description">{{retrospective.description}}</h3>
      <div class="row board-top-content-clean" id="wrapper">
        <img class="btn-small hover"
             id="icon-wipe"
             src="../../../assets/images/broom.png"
             (click)="cleanRetroBoard()"/>
        <p class="clean-btn-text">Clean Board</p>
      </div>
    </div>

    <div class="board_area">

      <div class="example-container" *ngFor="let column of retrospective.retroColumns">
        <div class="board-title-holder">
          <h2 class="testtitle">{{column.title}}</h2>
          <div class="icon_menu">
            <img class="icon" src="../../../assets/images/icon_dot_menu.png" [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                      class="dropdownitem"
                      (click)="emptyColumn(column)">
                Maak kolom leeg
              </button>
              <button mat-menu-item
                      class="dropdownitem"
                      (click)="deleteColumnDialog(column)">
                Verwijder kolom
              </button>
            </mat-menu>
          </div>
        </div>

        <div cdkDropList
             #element="cdkDropList"
             [attr.id]="column.title"
             [cdkDropListData]="column.retroCards"
             [cdkDropListConnectedTo]="getColumnNames(element)"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of column.retroCards" cdkDrag>
            <div class="box-content" *ngIf="!hasEnabledContentEditing(item)">
              {{item.content}}
            </div>
            <div class="box-content" *ngIf="hasEnabledContentEditing(item)">
              <textarea type="text" class="editContentInput" #content value="{{item.content}}"></textarea>
              <button class="TLbtn btn-small btn-color-primary" (click)="updateContent(item, content.value)">Aanpassen
              </button>
            </div>

            <div class="icons">
              <img class="icon" id="icon_edit" src="../../../assets/images/icon_edit.png"
                   (click)="enableContentEditing(true, item)" alt=""/>
              <img class="icon" id="icon_delete" src="../../../assets/images/icon_delete.png" (click)="deleteCard(item)"
                   alt=""/>
            </div>
          </div>
        </div>

        <div class="example-container-toaddcard">
          <h6 (click)="enableEditing(true, column)" *ngIf="!hasEnabledEditing(column)">+ Voeg een kaart toe</h6>
          <div class="animated-item" *ngIf="hasEnabledEditing(column)">
            <form [formGroup]="cardGroup">
              <div>
                <mat-form-field [formGroup]="cardGroup">
                  <label>
                    <input matInput #card placeholder="Voer een beschrijving in"
                           formControlName="content" value="">
                  </label>
                </mat-form-field>
              </div>
              <div>
                <button [disabled]="!cardGroup.valid" mat-button (click)="enableEditing(false, column); addCard(column)"
                        class="TLbtn btn-small btn-color-primary">
                  Voeg toe
                </button>
                <button mat-button (click)="enableEditing(false, column);"
                        class="TLbtn btn-small btn-color-secondary">
                  Annuleer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="example-container-toadd">
        <h4 class="clickable_element" (click)="enable=true">+ Voeg een lijst toe</h4>
        <div class="animated-item" *ngIf="enable">
          <form [formGroup]="listGroup">
            <div>
              <mat-form-field [formGroup]="listGroup">
                <input matInput #column placeholder="Voer een titel in"
                       formControlName="title" value="">
              </mat-form-field>
            </div>
            <div>
              <button [disabled]="!listGroup.valid" mat-button (click)="enable=false; addColumn(column.value)"
                      class="TLbtn btn-small btn-color-primary">
                Voeg toe
              </button>
              <button mat-button (click)="enable=false"
                      class="TLbtn btn-small btn-color-secondary">
                Annuleer
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
</body>

