<body *ngIf="retrospective">
<div class="foreground">
  <div class="scrollable">
    <div class="locked">
      <br>
      <h1>{{retrospective.title}}</h1>
      <br>
      <h3 class="description">{{retrospective.description}}</h3>
    </div>
    <div class="board_area">

      <div class="example-container" *ngFor="let column of retrospective.retroColumns">
        <h2>{{column.title}}</h2>

        <div
          cdkDropList
          #element="cdkDropList"
          [attr.id]="column.title"
          [cdkDropListData]="column.cards"
          [cdkDropListConnectedTo]="getColumnNames(element)"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of column.cards" cdkDrag>{{item.content}}</div>
        </div>
        <div class="example-container-toaddcard">
          <h6 (click)="enableEditing(true, column)" *ngIf="!hasEnabledEditing(column)">+ Voeg een kaart toe</h6>
          <div class="animated-item" *ngIf="hasEnabledEditing(column)">
            <form [formGroup]="cardGroup">
              <br>
              <label for="description"></label>
              <input id="description" name="description" formControlName="content" class="inputfield form-control"
                                                      placeholder="Voer een beschrijving in."/>
              <br>
              <br>
              <button [disabled]="cardGroup.invalid" (click)="enableEditing(false, column); addCard(column, card.value)"
                      class="btn btn-color-primary">Add
              </button>
              <button (click)="enableEditing(false, column);" class="btn btn-color-secondary">cancel</button>
            </form>
          </div>
        </div>
      </div>

      <div class="example-container-toadd">
        <h4 (click)="enable=true">+ Voeg een lijst toe</h4>
        <div class="animated-item" *ngIf="enable">
          <br>
          <label>
            <input #column placeholder="Voer een titel in."/>
          </label>
          <br>
          <button (click)="enable=false; addColumn(column.value)" class="btn btn-color-primary">Add</button>
          <button (click)="enable=false" class="btn btn-color-secondary">cancel</button>

        </div>
      </div>

    </div>
  </div>
</div>
</body>

