h1 {
    color: white
}
.foreground {
    background-color: rgba(139, 211, 0, 0.4);
    height: calc(100vh - 60px);
}
body {
    background-image: url('../../../assets/images/forest2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: calc(100vh - 60px);
}
.buttonholder {
    margin-top: 15%;
}