#logo {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    padding: 0;
    cursor: pointer;
    height: 60px;
}

#logo:focus {
    outline: 0;
}

header {
    padding: 0;
    margin-top: 0;
    height: 60px;
}

#navbar {
    overflow: hidden;
    background-color: #595959;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logText {
    float: right;
    color: white;
    margin-top: 8px;
    margin-right: 5px;
    transition: all .1s ease-in-out;
}

.logText:hover {
    cursor: pointer;
    transform: scale(1.15);
}

h3 {
    font-family: "din";
}

.signin-icon {
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.dashboard-holder {
    color: white;
    margin-top: 8px;
    margin-right: 65px;
    transition: all .1s ease-in-out;
}

.dashboard-holder:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.dashboard-text:focus {
    outline: 0;
}
