body {
    background-image: url('../../../assets/images/achtergrond-lobby.png');
    background-position: center;
    background-repeat: no-repeat;
    /* -60px for header */
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 60px);
    overflow-x: hidden;
}

.boards {
    width: 100%;
    margin-top: 16px !important;
    margin-left: 100px;
    margin-right: 100px;
    overflow-y: scroll !important;

    z-index: 2;
}
