.btn-back {
    float: right !important;
}

.btn-confirm {
    left: 0px;
}

.btn-holder {
    margin-top: 10px;
    margin-bottom: -5px;
    display: block;
}

.title-holder {
    text-align: center;
}

h2 {
    font-family: din;
    color: rgb(71, 71, 71);
}
