h1 {
    color: white;
    font-family: "din";
}
.foreground {
    background-color: rgba(139, 211, 0, 0.4);
    height: calc(100vh - 60px);
}
body {
    background-image: url('../../../assets/images/forest2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* -60px for header */
    height: calc(100vh - 60px);
}
.form-group {
    margin-top: 5%;
    width: 50%;
}
.buttonholder {
    margin-top: 40px;
}