<div mat-dialog-content>
    <mat-form-field class="full-width">
        <input matInput placeholder="Voer een naam in" [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field class="full-width">
        <textarea matInput placeholder="Voer een descripte in" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-action>
    <button mat-button (click)="onNoClick()">Terug</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aanmaken</button>
</div>