<div class="title-holder">
    <h2>{{dict.CONFIRMATION_TITLE}}</h2>
</div>
<div class="text" mat-dialog-content>
    {{message}}
</div>
<div class="font btn-holder" mat-dialog-actions>
    <button [class.mat-elevation-z2]="true" [mat-dialog-close]="true"
            class="TLbtn btn-small btn-color-primary mat-button mat-button-base btn-confirm"
            mat-button>{{dict.YES_BTN}}</button>
    <button (click)="onNoClick()" [class.mat-elevation-z2]="true"
            class="TLbtn btn-small btn-color-secondary mat-button mat-button-base btn-back"
            mat-button>{{dict.NO_BTN}}</button>
</div>
